# docker compose --env-file .env --env-file .env.production up -d
# docker compose --env-file .env --env-file .env.development up -d
name: dendo

services:
  postgres:
    image: postgres:17
    env_file:
      - .env
      - .env.development
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  api:
    image: ${API_IMAGE:-first-claude-proj-api:latest}
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "80:80"
      # - "443:443"
    env_file:
      - .env
      - .env.development
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
