services:
  postgres:
    image: postgres:17
    environment:
      POSTGRES_DB: FirstClaudeDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  api:
    image: ${API_IMAGE:-first-claude-proj-api:latest}
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - "80:80"
      # - "443:443"
    environment:
      HTTP_PORTS: 80
      # HTTPS_PORTS: 443
      # ASPNETCORE_HTTP_PORTS=3000;5005
      # ASPNETCORE_HTTPS_PORTS=5000
      # ASPNETCORE_URLS: "http://*:8080;http://*:80;https://*:443"

      ASPNETCORE_ENVIRONMENT: Development
      ConnectionStrings__DefaultConnection: "Host=postgres;Port=5432;Database=FirstClaudeDb;Username=postgres;Password=postgres"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend

networks:
  backend:

volumes:
  postgres_data:
